{% extends "products/base.html" %}
{% load static %}
{% block content %}
<h3 xmlns="http://www.w3.org/1999/html">About Us</h3>
    <div class="row">
	<div class="col-lg-12">
		<div class="box-element">
             <a  class="btn btn-outline-dark" href="{% url 'products:home-page' %}">&#x2190; Back to services</a>
	<br>
	<br>
			<body>

			<div class="intro column">
				<h2>Introduction</h2>
				<p>
					Our company is located in Starehe, Nairobi County.
					We started way back in 2012. We offer special cleaning services to office buildings and suites,
					residential apartments and homes, medical facilities, education institutions, hotels and recreational
					areas within Nairobi County.
				</p>

			<div class="main-text">
				<h3>More About Us</h3>
				<p>
					We treat you like you are family and your building like it's our own.
					We're highly experience and strive for nothing but the highest level of customer satisfaction.
					We have service categories that enable us to better meet the specific requirements of our clients.
					We can focus on what we do best.
				</p>
				<p>
					We usually classify our services in categories that enable us to better meet the
					specific requirements of our clients.
				<p>
					<p><strong>WE ONLY OFFER OUR SERVICES WITHIN NAIROBI COUNTY.<strong/></p>
			</p>
				</p>
				<div class="main-text">
				<h3>Our Mission</h3>
				<p>
					We strive to ensure the services we offer are of high quality and of great convenience to our customers.
				</p>

			</div><!-- end main-text-->
		</div><!--end container-->
	</body>
</html>
			</body>


</div>
</div>
 {% endblock content %}
