{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap-->
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"/>
      <link
      rel="stylesheet"
      href="{% static 'css/bootstrap-grid.min.css' %}"
    />
     <link
      rel="stylesheet"
      href="{% static 'css/bootstrap-grid.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/all.min.css' %}"
    />
     <link
      rel="stylesheet"
      href="{% static 'css/p.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script src="{% static 'js/all.js' %}"></script>
      <link
      rel="stylesheet"
      href="{% static 'css/fontawesome.css' %}"
    />

      
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Spic and span</title>
    {% block extra_head %} {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block content %}{% endblock %}
    {% block extra_body %} {% endblock %}

  



 <!--::footer_part start::-->
    <br/><br/>
     <footer>

        <img class="logo-footer img-top" src="{% static 'img/SPCSNimg.png' %}"
                                 alt="logo-footer" data-at2x="">
        <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
		        			<h3>Spic and span cleaning services Limited</h3>
		                	<p><i class="fas fa-map-marker-alt"></i> Starehe, Nairobi Kenya</p>
		                	<p><i class="fas fa-phone"></i> Phone: +254726046703</p>
		                	<p><i class="fas fa-envelope"></i> Email: <a href="mailto:peterwafulawalaka@gmail.com"
                            >spicandspanservicesltdke@gmail.com</a></p>
		                	<p><i class="fab fa-facebook"></i> FaceBook: Spic and span cleaning services Ltd
                            <p><i class="fab fa-instagram"></i> Instagram: Spic_and_span_Ltd</p>
                            <p><i class="fab fa-twitter"></i> Twitter: @SpicandSpanCleaningServicesLtd</p>



	                    </div>
	                    </div>
	                    <div class="col-md-4 footer-links wow fadeInUp">
	                    	<div class="row">
	                    		<div class="col">

	                    	</div>
	                    </div>
		            </div>
		        </div>
	        </div>
	        <div class="footer-bottom">
	        	<div class="container">
	        		<div class="row">
	           			<div class="col-md-6 footer-copyright">
	                    	<p>&copy;2022 Peter Wafula  MAC-1-8581-2/2018. Kenya Methodist University,
                            Department of Pure and Applied Sciences course Project Requirement.</p>
	                    </div>

	           		</div>
	        	</div>
	        </div>
        </footer>
    <!--::footer_part end::-->




    <!--Bootstrap-->
    <script src="{% static 'js/jquery' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
   <script src="{% static 'js/fontawesome.js' %}"></script>
   <script src="{% static 'js/fontawesome.min.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/7235818b31.js" crossorigin="anonymous"></script>
    {% block extra_scripts %} {% endblock %}
</body>
</html>