{% extends "products/base.html" %}
{% load static %}
{% block content %}
<h3 xmlns="http://www.w3.org/1999/html">Contact Us</h3>
    <div class="row">
	<div class="col-lg-12">
		<div class="box-element">
             <a  class="btn btn-outline-dark" href="{% url 'products:home-page' %}">&#x2190; Back to services</a>
	<br>
	<br>
			<body>
				<div class="main-text">
				<h3>Contact Us</h3>
				<p>
					For more information about our services, please contact our service manager via your preferred communication Channel.


            <h5><a href="http://Wa.me//+254726046703">Chat on whatsapp </a></h5>
					<br>

            <h5><a href="https://www.facebook.com/pages/?category=your_pages">Chat on Facebook </a></h5>
					<br>
			<h5><a href="https://www.instagram.com/accounts/login/">Chat on Instagram </a></h5>
					<br>
					<h5>Make calls through 0726046703</h5>
					<br>
				</p>
			</div><!-- end main-text-->
        </div>
        <!--end container-->
	</body>
</html>
			</body>


</div>
</div>
 {% endblock content %}
